.seChallengeList {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-weight: Bold;
    width: 100%;
}
.challengeDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 170px;
}
.details {
    border: 2px solid black;
    width: 92vw;
    text-align: start;
    padding-left: 10px;
    height: 100px
}
.isCompleted {
    display: flex;
    
}
.status {
    border: 2px solid black;
    width: 140px;
    height: 54px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
   
}
.moreFeedback {
    border: 2px solid black;
    width: 140px;
    height: 54px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 15px;
}
.seChallengeBox {
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #909090;
    width: 220px;
    height: 54px;
    text-align: center;
    padding-top: 10px;
    margin-top: -2px;
    
}
.previousTitle {
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #909090;
    width: 220px;
    height: 76px;
    text-align: center;
    line-height: 24px;
    padding-top: 8px;
    margin-bottom: -2px;
    margin-top: 50px;
}
.topSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titleBox {
    display: flex;
    width: 150px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #000;
    background: #909090;
    margin-bottom: 15px;
    color: black
}
.homeTitle {
    width: 280px;
    line-height: 80px;
}
.promptContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.promptBox {
    display: flex;
    width: 1177px;
    height: 86px;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #000;
    background: #DFDFDF;
}
.submitButton {
    display: flex;
    width: 140px;
    height: 44px;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #000;
    background: var(--DF-Grey-5, #F1F1F1);
}