:root {
    --d-9d-9d-9: rgba(255, 163, 96, 1);
    --df-grey-1: rgba(40, 40, 40, 1);
    --df-grey-2: rgba(70, 70, 70, 1);
    --df-grey-3: rgba(161, 161, 161, 1);
    --df-grey-4: rgba(232, 229, 229, 1);
    --df-grey-5: rgba(241, 241, 241, 1);
  }
  
.navbar {
    background-color: var(--df-grey-3);
    height: 59px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
}
.label {
    height: 19px;
    width: 132px;
    position: relative;
  }
.user { 
    height: 19px;
    position: relative;
    width: 83px;
}
#se {
    color: #000000;
    left: 0;
    position: fixed;
    top: 17px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 17px;
    font-weight: 600;
}
#challenge {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 17px;
    font-weight: 600;
    height: 19px;
    left: 180px;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 17px;
    white-space: nowrap;
    width: 94px;
}
#leaderboard {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 17px;
    font-weight: 600;
    height: 19px;
    left: 320px;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    white-space: nowrap;
    width: 132px;
}
#account {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 17px;
    font-weight: 600;
    height: 19px;
    right: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: -1px;
    white-space: nowrap;
    width: 83px;
}
#accountImg {
    color: #000000;
    right: 100px;
    position: fixed;
    top: 17px;
}